<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">Pretty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                {% for key, route in routes %}
                    <li class="nav-item {% if key is same as(breadcrumb) %}active {% endif %}">
                        <a href="{{ path(route) }}" class="nav-link">{{ key }}</a>
                    </li>
                    {#                                <li class="nav-item"><a href="#" class="nav-link"><i class="fa-solid fa-id-card"></i> Profile</a></li> #}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>