{% extends 'base.html.twig' %}

{% block title %}Посещения{% endblock %}

{% block body %}
    <div>
        <!-- Navbar -->
        {{ render(controller('App\\Controller\\Widget\\WidgetController::navWidget', {breadcrumb: 'visits'})) }}
        <!-- Navbar -->
    </div>
{% endblock %}
