<select class="form-control" name="employeeId" id="employeesDropdown">
    <option value=""> Выберите мастера</option>
    {% for employee in employees %}
        <option style="color: black"
                value="{{ employee.id }}">{{ employee.fullname }}</option>
    {% endfor %}
</select>